[submodule "RAFT-Stereo"]
	path = RAFT-Stereo
	url = https://github.com/princeton-vl/RAFT-Stereo.git
[submodule "NMRF"]
	path = NMRF
	url = https://github.com/aeolusguan/NMRF.git
[submodule "libSGM"]
	path = libSGM
	url = https://github.com/fixstars/libSGM.git
